.container{
    position: relative;
}
.container:hover .name{
    opacity: 1;
}

.selected .name{
    opacity: 1;
    box-shadow: inset 0 0 10px 1px #fff;
}

.img{
    width: 100%;
    
}

.name{
    padding: inherit;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    line-height: 1rem;
    margin-left: calc(var(--bs-gutter-x)/2);
    width: calc(100% - var(--bs-gutter-x));
    height: 100%;
    opacity: 0;
    background: #0000009f;
    cursor: pointer;
    user-select: none;
    transition: box-shadow ease-in 100ms, opacity ease-in 200ms;
}