body {
  margin: 0;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #232323;
  color: #fefefe;
}

.menu-item{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: url('./assets/menu_bg_blue.gif');
  background-position: center;
  background-size: 113%;
  background-repeat: no-repeat;
  box-shadow: 0 0 20px 2px #0097FA;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

#arc-root{
  background: url('./assets/menu_bg.gif');
  background-position: center;
  background-size: 113%;
  background-repeat: no-repeat;
  color: #fefefe;
  box-shadow: 0 0 20px 2px #fc71fc;
}